* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham A", "Gotham B", arial;
    font-weight: 300;
    letter-spacing: 2px;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

h1, h2, h3, h4, h5 {
    color: #263140;
    font-family: 'Teko', sans-serif, arial;
    font-weight: 600;
    letter-spacing: 1px;
    transform: scale(1, 1.4);
    letter-spacing: -.25px;
}

ul, li, p {
    color: #263140;
    font-family: "Harriet Text", Georgia;
    line-height: 1.5;
}

p {
    letter-spacing: 1.6px;
}

h3 {
    font-size: 42px;
    line-height: 1.1;
}

.button {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    border-radius: 4px;
}

.header-section {
    display: flex;
    padding: 30px;
}

.nav-section {
    font-family: "Gotham A", "Gotham B", arial;
    width: 100%;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.nav-items-right, .nav-items-left {
    list-style-type: none;
    display: flex;
    padding: 0 20px 0 20px;
}

.nav-items-left a, .nav-items-right a {
    text-decoration: none;
    color: black;
    padding: 0 10px 0 10px;
    font-weight: bold;
}

.banner-section {
    background-image: url(images/banner.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #263140;
}

.banner-cta {
    text-align: center;
    padding: 140px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-cta h2 {
    font-weight: 700;
    font-size: 63px;
    font-size: normal;
    line-height: 0.8;
    letter-spacing: -.5px;
    transform: scale(1, 1.35);
}

.banner-cta .button {
    border: none;
    background-color: #eb0089;
    padding: 32px 60px;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    margin-top: 50px;
}

.banner-cards {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 152px;
    width: 1400px;
    margin: auto;
    margin-top: 380px;
}

.site-container {
    background-color: #F7F7F7;
}

.card-one, .card-two, .card-three, .card-four, .card-five {
    width: 280px;
}

.card-one h5, .card-two h5, .card-four h5, .card-five h5 {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 3px;
}

.card-one h4, .card-two h4, .card-four h4, .card-five h4 {
    font-weight: 600;
    font-size: 36px;
    letter-spacing: .8px;
}

.card-three h3 {
    font-weight: 600;
    font-size: 44px;
    letter-spacing: 1px;
    margin-top: 38px;
    transform: scale(1, 1.4);
    letter-spacing: -.25px;
}

.card-three {
    margin-top: -10px;
}

.five-stars {
    width: 190px;
    margin-top: -30px;
}

.shop-container {
    width: 1400px;
    margin: auto;
}

section.offset-section {
    display: flex;
    align-items: center;
}

.offset-image {
    background-image: url(images/offset.jpg);
    height: 670px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offset-content {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offset-content p  {
    font-size: 1.5rem;
    margin-top: 35px;
    letter-spacing: 1.6px;
}

.offset-button {
    color: #263140;
    background-color: #fff;
    padding: 28px 50px;
    border: 4px solid #263140;
    font-size: 1.13rem;
    margin-top: 35px;
}

.icon-cards-section {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 80px;
    margin-bottom: 100px;
}

.icon-cards-section img {
    width: 125px;
    margin-bottom: 20px;
}

.icon-card-one, .icon-card-two, .icon-card-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-cards-section p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.title-cards-section {
    text-align: center;
    padding: 70px 0;
    background-color: #fff;
}

.title-cards-section h3 {
    margin-bottom: 80px;
}

.title-cards {
    display: flex;
    justify-content: space-evenly;
}

.title-card-one, .title-card-two, .title-card-three, .title-card-four {
    min-width: 300px;
    max-width: 340px;
}

.title-cards img {
    width: 120px;
}

.title-cards h5 {
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
    margin: 30px 0;
}

.title-cards p {
    font-size: 1.4rem;
}

.reviews-section-wrapper {
    width: 100%;
    background-image: url(images/pink.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
}

.reviews-section {
    text-align: center;
    max-width: 1350px;
    height: 600px;
    margin: auto;
    padding: 80px 200px 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.slides {
    display: none;
}

.slides p {
    font-size: 1.6rem;
    margin: 60px auto 40px;
    max-width: 800px;
}

.slides h5 {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.25px;
}

/* .dots {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.dot {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: grey;
    margin: 0 10px;
} */

.review-button {
    color:#263140;
    padding: 30px 30px;
    border: 4px solid #263140;
    font-size: 1.13rem;
    margin: 80px auto 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
  }