* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gotham A", "Gotham B", arial;
    font-weight: 300;
    letter-spacing: 2px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    width: 100%;
}

h1, h2, h3, h4, h5 {
    color: #263140;
    font-family: 'Teko', sans-serif, arial;
    font-weight: 600;
    letter-spacing: 1px;
    transform: scale(1, 1.4);
    letter-spacing: -.25px;
}

ul, li, p {
    color: #263140;
    font-family: "Harriet Text", Georgia;
    line-height: 1.5;
}

p {
    letter-spacing: 1.6px;
}

h3 {
    font-size: 42px;
    line-height: 1.1;
}

.button {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    border-radius: 4px;
}

.header-section {
    display: flex;
    width: 100%;
    padding: 20px 14px;
}

.hamburger-nav-container {
    display: none;
}

.nav-section {
    font-family: "Gotham A", "Gotham B", arial;
    width: 100%;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.nav-items-right, .nav-items-left {
    list-style-type: none;
    display: flex;
    padding: 0 20px 0 20px;
    font-size: .75rem;
}

.nav-items-left a, .nav-items-right a {
    text-decoration: none;
    color: #263140;
    padding: 0 12px 0 12px;
    font-weight: 600;
}

.nav-items-left a:hover, .nav-items-right a:hover {
    color: #4c80fa;
    transition: .2s;
}

.banner-section {
    background-image: url(images/banner.jpg);
    min-height: 620px;
    height: 670px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #263140;
    /* padding: 0 30px; */
}

.banner-cta {
    text-align: center;
    padding: 140px 0 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-cta h2 {
    font-weight: 700;
    font-size: 2.65rem;
    font-size: normal;
    line-height: 0.8;
    letter-spacing: -.5px;
    transform: scale(1, 1.35);
}

.banner-cta .button {
    border: none;
    background-color: #eb0089;
    padding: 22px 40px;
    color: white;
    font-size: .75rem;
    border-radius: 4px;
    margin-top: 36px;
}

.banner-button:hover {
    background-color: #bc006e;
    transition: .4s;
}

.site-container {
    background-color: #F7F7F7;
    width: 100%;
}

.banner-cards {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 152px;
    margin: auto;
    margin-top: 170px;
    width: 100%;
    max-width: 1000px;
}

.card-one, .card-two, .card-three, .card-four, .card-five {
    width: 20%;
}

.card-one h5, .card-two h5, .card-four h5, .card-five h5 {
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 7px;
    font-family: 'Ubuntu', sans-serif;
    transform: unset;
}

.card-one h4, .card-two h4, .card-four h4, .card-five h4 {
    font-weight: 600;
    font-size: 1.35rem;
    letter-spacing: .8px;
}

.card-three h3 {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-top: 26px;
    transform: scale(1, 1.4);
    letter-spacing: -.25px;
}

.card-three {
    margin-top: -10px;
}

.five-stars {
    width: 140px;
    margin-top: -30px;
}

.shop-container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

section.offset-section {
    display: flex;
    align-items: center;
}

.offset-image {
    background-image: url(images/offset.jpg);
    height: 670px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.offset-content {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offset-content p  {
    font-size: 1.5rem;
    margin-top: 35px;
    letter-spacing: 1.6px;
}

.offset-button {
    color: #263140;
    background-color: #fff;
    padding: 28px 50px;
    border: 4px solid #263140;
    font-size: 1.13rem;
    margin-top: 35px;
}

.offset-button:hover {
    background-color: #253041;
    color: white;
    transition: .4s;
}

.icon-cards-section {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 80px;
    margin-bottom: 100px;
}

.icon-cards-section img {
    width: 125px;
    margin-bottom: 20px;
}

.icon-card-one, .icon-card-two, .icon-card-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-cards-section p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}

.title-cards-section {
    text-align: center;
    padding: 70px 0;
    background-color: #fff;
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

.title-cards-section h3 {
    margin-bottom: 80px;
}

.title-cards {
    display: flex;
    justify-content: space-evenly;
}

.title-card-one, .title-card-two, .title-card-three, .title-card-four {
    min-width: 300px;
    max-width: 340px;
}

.title-cards img {
    width: 120px;
}

.title-cards h5 {
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
    margin: 30px 0;
}

.title-cards p {
    font-size: 1.4rem;
}

.reviews-section-wrapper {
    background-image: url(images/pink.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    width: 100%;
    margin: auto;
}

.reviews-section {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    height: 600px;
    margin: auto;
    padding: 80px 200px 100px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.slides {
    display: none;
}

.slides p {
    font-size: 1.6rem;
    margin: 60px auto 40px;
    max-width: 800px;
}

.slides h5 {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.25px;
}

/* .dots {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.dot {
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background-color: grey;
    margin: 0 10px;
} */

.review-button {
    color:#263140;
    padding: 30px 30px;
    border: 4px solid #263140;
    font-size: 1.13rem;
    margin: 80px auto 0;
}

.review-button:hover {
    background-color: #253041;
    color: white;
    transition: .4s;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .1}
    to {opacity: 1}
  }

.testimonial-section {
    text-align: center;
    padding: 160px 60px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.nyt-logo img {
    width: 250px;
    height: 40px;
    margin-bottom: 70px;
}

.testimonial-section h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.05rem;
    letter-spacing: 1px;
    transform: unset;
    margin-bottom: 25px;;
}

.testimonial-section p {
    font-size: 1.6rem;
}

.footer-cta {
    padding: 150px 0;
    text-align: center;
    background-color: #4c80fa;
    display: flex;
    flex-direction: column;
}

.footer-cta h3 {
    color: #fff;
}

.footer-cta-button {
    background-color: white;
    color: #263140;
    padding: 32px 50px;
    margin: 50px auto 0;
    font-size: 1.15rem;
}

.footer-cta-button:hover {
    background-color: #253041;
    color: white;
    transition: .4s;
}

.footer {
    background-color: white;
}

.footer-top {
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    width: 100%;
    max-width: 1250px;
    margin: auto;
}

.footer-top h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 3px;
    transform: unset;
}

.footer-top li {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    padding: 0 18px;
    font-size: 1.15rem;
    transform: unset;
    margin-bottom: 4px;
}

.footer-top li:hover {
    cursor: pointer;
}

.footer-goby-logo {
    margin-right: 100px;
}

.footer-goby-logo svg {
    height: 70px;
    width: 70px;
}

.footer-email {
    margin-left: 160px;
}

.footer-email h5 {
    font-size: 1.05rem;
    margin-bottom: 20px;
}

.footer-email input {
    padding: 30px 0px 30px 20px;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    border: 1px solid #a9acb2;
    border-radius: 4px;
}

.footer-email input::placeholder {
    color: #a0a3a8;
}

.footer-bottom {
    color: #a0a3a8;
    display: flex;
    justify-content: space-between;
    padding: 60px 120px 100px;
    width: 100%;
    max-width: 1600px;
    align-items: center;
    margin: auto;
}

.footer-bottom h5 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
    transform: unset;
    font-size: .94rem;
    color: #919499;
}

.footer-socials {
    display: flex;
    align-items: center;
}

.svg-wrapper {
    padding: 20px 22px 21px;
    border: 1px solid #919499;
    border-radius: 100%;
    margin: 15px;
}

.svg-wrapper:hover {
    background-color: #253041;
    transition: .4s;
    cursor: pointer;
}

.svg-wrapper:hover svg {
    filter: invert(100%);
    opacity: 1;
    border-color: #263140;
    cursor: pointer;
}

.svg-wrapper svg {
    height: 38px;
    width: 38px;
    opacity: 0.35;
}

@media only screen and (max-width: 500px) {
    .banner-cards .card-one, .banner-cards .card-five, 
    .banner-cards .card-two, .banner-cards .card-four {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .container, .site-container, .shop-container,
    .title-cards-section, .reviews-section-wrapper,
    .testimonial-section, .footer-section {
        max-width: 768px;
        width: unset;
    }

    .banner-section {
        background-image: url(images/mobile-banner.jpg);
        height: 810px;
        background-position: bottom center;
    }
    
    .banner-cta {
        padding: 100px 0 60px 0;
    }
    
    .banner-cta h2 {
        font-size: 46px;
    }
    
    .banner-cta .button {
        margin-top: 400px;
    }
    
    .banner-cards {
        position: absolute;
        width: 100%;
        margin: auto;
        background-color: #F0EEEE;
        margin-top: 20px;
        flex-wrap: wrap;
        height: 340px;
    }

    .banner-cards h5 {
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 2.5px;
        transform: unset;
    }

    .banner-cards h4 {
        font-size: 1.6rem;
        margin-top: 10px;
    }

    .banner-cards h3 {
        font-size: 2.5rem;
    }

    .card-two {
        order: 2;
        /* text-align: right; */
        margin: 20px 10px 0 0;
    }

    .card-four {
        order: 3;
        /* text-align: left; */
        margin: 20px 0 0 10px;
    }

    .card-three {
        margin-top: 5px;
        order: 1;
        width: 100%;
    }

    .banner-cards .card-two, .banner-cards .card-four {
        width: 46%;
    }

    .banner-cards .card-one, .banner-cards .card-five {
        display: none;
    }

    .offset-image {
        display: none;
    }

    .offset-content {
        margin-top: 360px;
        padding-bottom: 80px;
        width: 100%;
    }

    .icon-cards-section {
        flex-direction: column;
        margin: 30px;
    }

    .title-cards-section h3 {
        font-size: 2.2rem;
    }

    .icon-card-two {
        margin: 80px 0 80px;
    }

    .title-cards {
        flex-direction: column;
        align-items: center;
    }

    .reviews-section-wrapper {
        padding: 30px;
    }

    .reviews-section {
        padding: 80px 30px 80px;
    }

    .slide-3 h5 {
        margin-bottom: 38px;
    }

    .testimonial-section {
        padding: 140px 40px;
    }

    .footer-top {
        flex-wrap: wrap;
        padding: 30px 0px;
    }

    .footer-goby-logo {
        display: none;
    }

    .footer-email {
        width: 100%;
        margin: 60px 0 0;
        padding: 0 30px;
    }

    .footer-email h5 {
        font-size: 1.5rem;
    }

    .footer-bottom {
        padding: 20px 30px;
        flex-wrap: wrap;
    }

    .footer-socials {
        order: 1;
    }

    .footer-copyright {
        order: 2;
        margin: 30px 0 80px;
    }
}

@media only screen and (max-width: 1024px) {
    .nav-section {
        display: none;
    }

    .header-logo svg {
        height: 48px;
        width: 120px;
    }

    #menuToggle
    {
    display: block;
    position: relative;
    top: 15px;
    left: 10px;
    
    z-index: 1;
    
    -webkit-user-select: none;
    user-select: none;
    }

    #menuToggle a
    {
    text-decoration: none;
    color: #263140;
    font-family: "Ubuntu", Georgia;
    line-height: 1.5;
    font-weight: 600;
    
    transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
    color: #4c80fa;
    }


    #menuToggle input
    {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    
    cursor: pointer;
    
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    
    -webkit-touch-callout: none;
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span
    {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #253041;
    border-radius: 3px;
    
    z-index: 1;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    }

    #menuToggle span:first-child
    {
    transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
    transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span
    {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3)
    {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2)
    {
    transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu
    {
    position: absolute;
    width: 400px;
    margin: -20px 0 0 -40px;
    padding: 50px;
    padding-top: 80px;
    
    background: #fff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-150%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu li
    {
    padding: 10px 0;
    font-size: 22px;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ #menu
    {
    transform: none;
    }

    .header-section {
            
    }

    .header-logo {
        margin-left: auto;
        order: 2;
    }
}
